<ion-content class="ion-padding">
  <div class="search-container">
    <ion-item class="search-bar">
      <ion-input
        placeholder="Escribe el nombre del personaje"
        [(ngModel)]="searchName"
        (keydown.enter)="searchMorty()"
      ></ion-input>
      <ion-button slot="end" (click)="searchMorty()">Buscar</ion-button>
    </ion-item>

    <ion-text color="danger" *ngIf="errorMessage">
      <p class="error-message">{{ errorMessage }}</p>
    </ion-text>

    <div *ngIf="selectedMorty" class="morty-result">
      <img
        [src]="selectedMorty.imageUrl"
        alt="Imagen de {{ selectedMorty.name }}"
        class="morty-image"
      />
      <h2 class="morty-name">{{ selectedMorty.name | titlecase }}</h2>
      <ion-button [href]="'/morty/' + selectedMorty.id" target="_blank">Ver detalles</ion-button>
    </div>
  </div>
</ion-content>
